.clients {
  margin-bottom: -30px;
  margin-left: -30px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  @include desk {
    margin-left: -30px;
  }
 }
  
.clients__item {
    margin-bottom: 30px;
    width: calc((100% - 60px) / 2);
    justify-content: center;
    margin-left: 30px;
   

  @include tab {
     width: calc((100% - 90px) / 3);
    
  }

  @include desk {
    width: calc((100% - 180px) / 6);
}
}

  .clients__link {
    outline: 0;
    height: 92px;
    background-color: #ffffff;
    border: 1px solid currentColor;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-color);
    transition: color var(--animation-function);
    &:hover, 
    &:focus{
      color: var(--brand-color);
    }
  }
  
  .clients__icon {
    fill: currentColor;
  }

