.clients {
  margin-bottom: -30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  }
  
.clients__item {
    margin-bottom: 30px;
   @media screen and (max-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  @include tab {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }

  @include desk {
    width: calc(100% / 6 - 30px);
}
}
   
   .section__title {
    text-align: center;
    @include font (28px, 700, 1.17em, 0.03em); 
    } 

  .clients__link {
    outline: 0;
    width: 170px;
    height: 92px;
    background-color: #ffffff;
    border: 1px solid currentColor;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-color);
    transition: color var(--animation-function);
    &:hover, 
    &:focus{
      color: var(--brand-color);
    }
  }
  
  .clients__icon {
    fill: currentColor;
  }

