.features {
     @include tab {
       display: flex;
  }
}
  .features__item {
    @include tab {
      width: calc((100% - 60px) / 2);
    } 
    @include desk {
      width: calc((100% - 90px) / 4);
      margin-right: 30px;
        &:nth-child(4n) {
          margin-right: 0;
    }
        &:nth-last-child(- n + 4) {
          margin-bottom: 0;
    }
    }
  
  .features-box {
    @include desk{
      width: 270px;
      height: 120px;
      background-color: #f5f4fa;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
    }
    
  }
  .section-title {
    text-align: center;
    @include font (28px, 700, 1.17em, 0.03em)  
    }
  .section-title {
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
    // font-weight: 700;
    // font-size: 36px;
    // line-height: 1.16;
    // letter-spacing: 0.03em;
  }
  
  .features__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: none;
    color: var(--text-color);
  }