.features {
  margin-bottom: -30px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  
.features__item {
  margin-bottom: 30px;
    @include tab{
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
    @include desk {
    width: calc(100% / 4 - 30px);
  }
}

   .features__title {
     margin-bottom: 10px;
     @include font (14px, 700, 1.14em, 0.03em);
     text-transform: uppercase;
     @media screen and (max-width: 768px){
      text-align: center;
     }
    }
    
  .features-box {
      height: 120px;
      background-color: #f5f4fa;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;  
  }

  .section-title {
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
    @include font (28px, 700, 1.17em, 0.03em);
    }

  .features__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: none;
    margin-bottom: 30px;
    color: var(--text-color);
  }
