
.features {
    display: flex;
  }

  .features__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
      &:nth-child(4n) {
        margin-right: 0;
  }
      &:nth-last-child(- n + 4) {
        margin-bottom: 0;
  }
  }
  
  .features-box {
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .section-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }
  
  .features__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: none;
    color: var(--text-color);
  }