.btn {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px){
        flex-wrap: wrap;
        justify-content:left;
       }
    }
  
  .filter__item{
    margin-right: 8px;
    @media screen and (max-width: 768px){
      margin-bottom: 15px;  
    }
  }

  .filter__button{
    border: transparent;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    font-family: inherit;
    background: #f5f4fa;
    color: var(--accent-color);
    border-radius: 4px;
    transition: color, box-shadow, background-color, var(--animation-function);
    &:hover,
    &:focus,
    &:active {
      color: var(--letter-color);
      background-color: var(--brand-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    }
  