
.gallery {
  flex-wrap: wrap;
  display: flex;
  margin-left: -30px; 
  margin-bottom: -30px;
  }
  
.gallery__item {
  transition: transform var(--animation-function);
    margin-left: 30px;
    margin-bottom: 30px;
    @media screen and (max-width: 765px ){
      justify-content: center;
    }
    
    @include tab {
    width: calc((100% - 60px) / 2);
    }
    @include desk {
    width: calc((100% - 90px) / 3);
    }
}
  .gallery__wrapper {
    position: relative;
    overflow: hidden;
  }

  .gallery__content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color:var(--letter-color);
    padding: 63px 24px;
    height: 100%;
    transform: translateY(100%);
    overflow: auto;
    .gallery__link:hover &,
    .gallery__link:focus & {
      transform: translateY(0);
      transition: var(--animation-function);
      @include tab {
        padding: 49px 24px;
    }
      @include desk {
        padding: 77px 24px ;
      }
    }
  }

  .gallery__box {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:center;
    border-right: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    flex-grow: 1;
  }
  
  
  .gallery__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--accent-color); 
  }
  
  .gallery__text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
   
  }
  
  .gallery__link {
    
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: box-shadow var(--animation-function);
    &:focus,
    &:hover {
     box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
                0px 4px 4px 0px rgba(0, 0, 0, 0.06),
                0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
  }
