.logo { 
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
.header__logo {
  @include tab {
    margin-right: 88px;
  }
  @include desk {
  margin-right: 93px;
}
}  


.logo__dark {
  color: var(--accent-color);
}

.logo__light {
  color: var(--letter-color);
}

.header {
    border-bottom: 1px solid #ececec;   
  }

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    height: 60px;
    @include tab {
    height: 80px;
      }
}

  .nav {
    display: flex; 
    // margin-right: -50px;
    
  }

  .nav-menu {
    display: none;
    @include tab {
      display: block;
    }
  }

  .nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    transition: color var(--animation-function);
    
  }
  .nav__link:hover,
  .nav__link:focus {
    color: var(--brand-color);  
  }
  
  .nav__link.nav__link--current {
    color: var(--brand-color);
  }
  .nav__item:not(:last-of-type) {
    margin-right: 50px;
  }
  
  .nav__link--current {
    position: relative;
    &::after {
      content:" ";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      position: absolute;
      background-color: var(--brand-color);
      left: 0;
      bottom:-33px;
    }
  }

//------------MOB MENU--------------//

.menu-button__mobile{
    margin-left: auto;
    outline: 0;
    background-color: transparent;
    border: none;
    display: block;
    @include tab {
      display: none;
    }
    &:hover .menu-button__icon-close,
    &:focus .menu-button__icon-close {
      fill: var(--brand-color);
    }
    
 }

 .menu-button__icon-close {
  transition: fill var(--animation-function);
}  

 .mob-menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  // transform: translate(0);
  transition: left 500ms, visibility 500ms;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.modal__close {
  margin-left: auto;
  display: block;
  margin-bottom: 30px;
}

.mob-menu__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  
  }
}

.mob-menu__link {
  @include font (40px, 500, 1.17em, 0.02em);
    color: black;
      &:hover,
      &:focus {
     color: var(--brand-color);  
    }
 }

 .mob-menu__link.mob__link--current {
   color: var(--brand-color);
 }

.mob-contacts__tel {
  @include font (34px, 500, 1.18em, 0.02em);
    display: block;
    color: var(--brand-color);
    &:hover,
    &:focus {
      color: var(--brand-color);  
    }
  }

  .mob-contacts__mail{
    @include font (24px, 500, 1.16em, 0.02em);
    display:block;
    color: var( --text-color);
    margin-top: 32px; 
    &:hover,
    &:focus {
      color: var(--brand-color);  
    }
  }
  
.mob-social {
    display: flex;
    margin-left: -20px;
    margin-top: 32px;
  }


.mob-social__item {
  margin-left: 20px;
  &:not(:last-child) {
    margin-bottom: 24px;
   
  }
}

.mob-social__link{
  @include font (18px, 500, 1.22em, 0.02em);
  color: var(--brand-color); 
   position: relative;
}

.mob-social__link::after {
     content:" ";
      width: 2px;
      height: 22px;
      border-radius: 1px;
      position: absolute;
      background-color: rgba(33, 33, 33, 0.2);
      left: 10;
      bottom: 0px;
      margin-left: 10px;
      margin-right: 10px;
} 

    // &:last-of-type::after {
    //   content:" ";
    //   color: green; 
    
  // }
  //   .mob-social__link:last-of-type:after {
  //     content:" ";
  //     background-color: green;

.mob-menu.visually-hidden{
  transform: translate(100%);
}

.mob-menu.visually-hidden {
  left: 100%;
}


  