.logo { 
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
.header__logo{
  margin-right: 93px;
}

.logo__dark {
  color: var(--accent-color);
}

.logo__light {
  color: var(--letter-color);
}


.header__menu{
   @media screen and(max-width: 768px){
    display: none;    
  } 
}

.header {
    border-bottom: 1px solid #ececec;
  }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
  }
  .logo { 
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--brand-color);
  }
  .header__logo{
    margin-right: 93px;
  }
  
  .logo__dark {
    color: var(--accent-color);
  }

  .logo__light {
    color: var(--letter-color);
  }

  .nav {
    display: flex;
   
  }

  .nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    transition: color var(--animation-function);
  }
  
  
  .nav__link:hover,
  .nav__link:focus {
    color: var(--brand-color);
    
  }
  
  .nav__link.nav__link--current {
    color: var(--brand-color);
  }
  .nav__item {
    margin-right: 50px;
  }
  
  .nav__link--current {
    position: relative;
    &::after {
      content:" ";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      position: absolute;
      background-color: var(--brand-color);
      left: 0;
      bottom:-33px;
    
    }
  }

  