.logo { 
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
.header__logo{
  margin-right: 93px;
}

.logo__dark {
  color: var(--accent-color);
}

.logo__light {
  color: var(--letter-color);
}


// .header__menu{
//    @media screen and(max-width: 768px){
//     display: none;    
//   } 
// }

.header {
    border-bottom: 1px solid #ececec;
  }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    // height: 80px;
  }
  .logo { 
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--brand-color);
  }
  .header__logo{
    margin-right: 93px;
  }
  
  .logo__dark {
    color: var(--accent-color);
  }

  .logo__light {
    color: var(--letter-color);
  }

  .nav {
    display: none;
    // display: flex;
   
  }

  .nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    transition: color var(--animation-function);
  }
  
  
  .nav__link:hover,
  .nav__link:focus {
    color: var(--brand-color);
    
  }
  
  .nav__link.nav__link--current {
    color: var(--brand-color);
  }
  .nav__item {
    margin-right: 50px;
  }
  
  .nav__link--current {
    position: relative;
    &::after {
      content:" ";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      position: absolute;
      background-color: var(--brand-color);
      left: 0;
      bottom:-33px;
    
    }
  }
  @media (max-width: 767px) {
    .mob-menu {
      display: none;
    }
  .menu-container{
      width: 100vw;

      padding-left: 48px;
      padding-right: 48px;
      margin: 0 auto;
      // @include tel {
      //   width: 480px;
      // }
    
      // @include tab {
      //   width: 768px;
      // }
    
      // @include desk {
      //   width: 1200px;
      // }   
    }

  
  .menu-button__mobile{
    margin-left: auto;
 }
  .mob-menu {
    position: fixed;
    background-color: var(--letter-color);
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 1;
    padding-top: 48px;
    padding-bottom: 48px;
    }
    
  

  .modal__close{
    margin-left: auto;
    display: block;
  }

  .mob-menu__link {
    @include font (40px, 500, 1.17em, 0.02em);
    color: black;
    &:hover,
    &:focus {
      color: var(--brand-color);  
    }
  }
  .mob-contacts__tel {
    @include font (34px, 500, 1.18em, 0.02em);
    display:block;
    color: var( --text-color);
    margin-top: 150px; 
    &:hover,
    &:focus {
      color: var(--brand-color);  
    }
  }
  .mob-menu__item{
    margin-bottom: 32px;
  }

  .mob-contacts__mail{
    @include font (24px, 500, 1.16em, 0.02em);
    display:block;
    color: var( --text-color);
    margin-top: 32px; 
    &:hover,
    &:focus {
      color: var(--brand-color);  
    }
  }
  .mob-social {
    display: flex;
    margin-left: -20px;
  }
  .mob-social__item {
    margin-left: 20px;
    margin-top: 64px;
    color: var(--brand-color); 

  }

  


