.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.14);
    transition: opacity 500ms, visibility 500ms;
    transform: scale(1);
  }
  
  .backdrop.is-hidden {
    .modal {
      transform: scale(0.5);
    }
  }
  
 .modal {
  width: 90vw;
  min-height: 500px;
  background-color: var(--letter-color);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 500ms;
  padding: 35px;
  transform: translate(-50%, -50%);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  @media screen and (min-width: 490px) {
    width: 500px;
  }
}
  
  .modal__close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 8px;
    right: 8px;
    transition: fill var(--animation-function);
    &:hover {
      fill: var(--brand-color);
    }
  }
  
  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .modal__text {
   @include font (12px, 400, 1.16em, 0.01em);
    @include desk {
      @include font (14px, 400, 1.71em, 0.03em);
    }
  }
  
  .modal__title{
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 12px;
  }
  
  .btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-field{
    position: relative;
    &:not(:nth-last-of-type(2), 
     :nth-last-of-type(3)) {
      margin-bottom: 10px;
  }
}

  .form-policy {
    display:flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .form__label {
    font-size: 12px;
    line-height: 1.16;
    color: var(--text-color);
    transition: 250ms linear; 
    position:relative;
  }
  .form__input{
    outline: 0;
    width: 100%;
    margin: 0;
    padding: 10px 40px;
    font: inherit;
    border-radius: 3px;
    border: 1px solid var(--icon-color);
    transition: fill, border-color var(--animation-function);
  }
  .form__input:hover,
  .form__input:focus {
    border-color: var(--brand-color);
  }
  .form__input:focus ~ .input__icon,
  .form__input:hover ~ .input__icon {
    fill: var(--brand-color);
  } 
  
  .input__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transition: fill var(--animation-function);   
  }
    
  .check__text {
    color: #999999;
    display: flex;
    position: relative;
    align-items: center;
     @include font (12px, 400, 1.16em, 0.01em);
       @include desk {
         @include font (14px, 400, 1.71em, 0.03em);
       }
     }

  .check__text span {
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-right: 7px;
    display: flex;
    
  }
  .policy__icon {
    fill: transparent;
  }
  .policy-check:checked + .check__text span {
    border: none;
    background-color: var(--brand-color);
  }

  .policy-check:checked + .check__text .policy__icon {
    fill: #ffffff;
  }
  
  .policy-check:checked + .check__text::before {
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
  }
  
   .check__hidden{
      position: absolute;
      visibility: hidden;
      opacity:0;
  
    } 
    
  .modal__link{
    color: var(--brand-color);
    text-decoration: underline;
   
  }
  .form__textarea {
    width: 100%;
    height: 120px;
    border: 1px solid;
    border-radius: 5px;
    padding: 12px 16px;
    resize: none;
    border-color: var(--icon-color);
    outline: 0;
    transition: border-color var(--animation-function);
    &:hover,
    &:focus {
      border-color: var(--brand-color);
    }
    &::placeholder {
        color: var(--icon-color);
        transition: color var(--animation-function);
    }
    &:hover::placeholder {
      color:var(--brand-color);
    }
  } 

  
  


  