.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.14);
    transition: opacity 500ms, visibility 500ms;
    transform: scale(1);
  }

  // .backdrop {
  //   position: fixed;
  //   top: 0;
  //   width: 100vw;
  //   height: 100vh;
  //   background-color: rgba(157, 164, 189, 0.62);
  //   transition: opacity 500ms, visibility 500ms;
  // }
  
  .backdrop.is-hidden {
    .modal {
      transform: scale(0.5);
    }
  }
  
 .modal {
  width: 90vw;
  min-height: 500px;
  background-color: var(--letter-color);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 500ms;
  padding: 35px;
  transform: translate(-50%, -50%);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  @media screen and (min-width: 480px) {
    width: 400px;
  }
  @media screen and (min-width: 480px) {
    width: 500px;
  }
}
  
  .modal__close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 8px;
    right: 8px;
    transition: fill var(--animation-function);
    &:hover {
      fill: var(--brand-color);
    }
  }
  
  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  
  .modal__title{
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 12px;
  }
  
  .btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  //  .modal {
  //   width: 528px;
  //   min-height: 500px;
  //   background-color: var(--letter-color);
  //   border-radius: 5px;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
  //               0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  //               0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  //   padding: 40px;
  // }
  


  