.team__background {
  background-color: var(--background-color);
}

.team {
  // display: flex;
  // flex-wrap: wrap;
  margin-bottom: -30px;
}

.section-title {
  @include tel {
   
  font-weight: 700;
  font-size: 28px
  line-height:( 33 / 28 );
  text-align: center;
  letter-spacing: 0.03em;
    }
  }

// .section-title {
//   text-align: center;
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.16;
//   letter-spacing: 0.03em;
//   color: #212121;
//   margin-bottom: 50px;
// }

.team__item {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.26;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  background-color: var(--letter-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  // width: 270px;
  // height: 428px;
  // margin-right: 30px;
  // &:nth-child(4n) {
  //   margin-right: 0;
  // }
  // &:nth-last-child(- n + 4) {
  //   margin-bottom: 0;
  // }
  
}
// .team__tem {
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.26;
//   letter-spacing: 0.03em;
//   color: var(--accent-color);
// }

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

.team__content {
  text-align: center;
  
  
}

.card__link {
  background-color: #ffffff;
  color: var(--icon-color);
  transition: background-color var(--animation-function), color, var(--animation-function);
  &:hover,
  &:focus {
    background-color: var(--brand-color);
    color: var(--letter-color);
  }

}
