body {
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
  }
  
.list {
    list-style: none;
  }

  .section {
    @include tel {
      padding-top: 60px;
      padding-bottom: 60px;  
  }
}
  // .section {
  //   padding-top: 94px;
  //   padding-bottom: 94px;
  // }
  