:root {
    --brand-color: #2196f3;
    --accent-color: black;
    --text-color: #757575;
    --letter-color: #ffffff;
    --background-color: #f5f4fa;
    --footer-color: #2f303a;
    --icon-color: #afb1b8;
    --animation-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);  
  }